<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/67f58695eb.js" crossorigin="anonymous"></script>

</head>
<body style="background-image: url('https://a-static.besthdwallpaper.com/oled-google-logo-wallpaper-2560x1440-55388_51.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; background-attachment: fixed;">
    <h1 class="text-center text-white pt-5" style="font-size: 100px; font-family: 'Times New Roman', Times, serif; font-weight: bold; font-style: italic; margin-top: 1%;">
        Welcome to the Login Page
    </h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5 pt-3">
                <a href="/auth/google" class="btn btn-block btn-primary btn-lg" style="font-size: 30px; font-family: 'Times New Roman', Times, serif; font-weight: bold; font-style: italic; background-color: #1DB954; border-color: #1DB954; border-radius: 50px;">
                    <i class="fab fa-google"></i> Login with Google
                </a>
            </div>
        </div>
    </div>
</body>
</html>

<!--
    Author: google.com/fastuptime
-->